<div class="jumbotron">
  <h1 class="display-3 mantra"></h1>
  <p class="lead name"></p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary" href="/students" role="button">Back to Students</a>
  </p>
</div>
